<h1>Nouveau produit</h1>

<%= form_tag url_for(action: 'create'), multipart: true do %>
    
  <%= label_tag 'Titre' %><br />
  <%= text_field_tag 'title', @item.title %><br />

  <%= label_tag 'Description' %><br />
  <%= text_field_tag 'description', @item.description %><br />

  <%= label_tag 'Prix' %><br />
  <%= text_field_tag 'price', @item.price %><br />

  <%= file_field_tag :picture %>
  
  <%= submit_tag "Envoyer" %>
<% end %>