
<div class="card-body p-4 p-md-5">
  <h2>Mes précédente commandes</h2>
  <% @orders.each do |order|%>
    <div class="d-flex flex-wrap justify-content-between align-items-center ui-bordered py-3 px-4 mt-3">
      <div class="d-flex flex-column">
        Order ID: <strong><%= order.id%></strong> &nbsp;
        <small class="text-muted">Order Date: <%= order.created_at.strftime('Le %e %b %Y') %></small>
      </div>
      <div class="d-flex align-items-center">
        Status:&nbsp; <strong>Complete</strong>
        <a data-toggle="collapse" href="#order-4153148974124" class="d-block ml-3" aria-expanded="true"><i class="collapse-icon"></i></a>
      </div>
    </div>
    <div class="table-responsive collapse show" id="order-4153148974124" style="">
      <% order.items.each do |item| %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="p-4">
                <div class="media align-items-center">
                  <div class="media-body">
                    <%= item.title %> <!-- TITRE -->
                    <div class="mt-2">
                      <div style="height:50px;width:50px"><%= image_tag item.picture if item.picture.attached? %></div> <!-- IMAGE -->
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">
                <%= item.price%> <i class="fas fa-euro-sign"></i> <!-- PRIX UNITAIRE -->
              </td>
            </tr>
          </tbody>
          <% end %>
          <tfoot>
            <tr>
              <th colspan="3" class="text-right px-4">
                <small class="text-muted">Total price:</small> <strong><%= order.price%> <i class="fas fa-euro-sign"></i></strong> <!-- PRIX TOTAL -->
              </th>
            </tr>
          </tfoot>
        </table>
    </div>
  <% end %> 
</div>



