<p id="notice"><%= notice %></p>




<div class="container d-inline-flex">
  <div class="card mb-3">
    <div class="media d-flex justify-content-center">
      <a href="<%= @item.image_url %>" class="d-block">
        <img src="<%= @item.image_url %>" alt class="img-fluid" style="max-height: 300px">
        </a>
        <div class="media-body p-4 p-md-5">
          <h3><%= @item.title %></h3>
          <li><%= @item.description %></li>
        <%= link_to "#{@item.price} €", cart_path(@item), method: :put, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <br>
  
  <%= link_to 'Back', items_path %>
</div>