<h1>Console Administrateur</h1>
<h3>Ravi de vous revoir <%= current_user.email %> !</h3>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th scope="col">Utilisateurs inscrits sur e-PiCat</th>
    <th scope="col"><%= User.count %></th>
    <th scope="col"><%= link_to 'Gestion utilisateurs', admin_users_path, class: "btn btn-outline-warning" %></th>
  </tr>
  <tr>
    <th>Items enregistrés depuis toujours</th>
    <th><%= Item.count %></th>
    <th><%= link_to 'Gestion items en vente', admin_items_path, class: "btn btn-outline-warning" %></th>
  </tr>
  <tr>
    <th>Commandes complétées</th>
    <th><%= Order.count %></th>
    <th><%= link_to 'Gestion des commandes', admin_orders_path, class: "btn btn-outline-warning" %></th>
  </tr>

</table>